


<div class="container">
    <h1 class="blogs1">Blogs</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>Blog 01</h2>
                    <img src="assets/img/blogs.png">
                    <p>Description Here...</p>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>Blog 02</h2>
                    <img src="assets/img/blogs.png">
                    <p>Description Here...</p>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>Blog 03</h2>
                    <img src="assets/img/blogs.png">
                    <p>Description Here...</p>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>Blog 04</h2>
                    <img src="assets/img/blogs.png">
                    <p>Description Here...</p>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>Blog 05</h2>
                    <img src="assets/img/blogs.png">
                    <p>Description Here...</p>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>Blog 06</h2>
                    <img src="assets/img/blogs.png">
                    <p>Description Here...</p>
                </a>
            </div>
        </div>

    </div>
</div>