


<div class="container">
    <h1 class="blogs1">Blogs</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>Creative People Are Not The Pressure Cooker: Understanding The Misconception</h2>
                    <img src="assets/img/blogs.png">
                    <p>
                        The stereotype of the “tortured artist” or the “crazy genius” has been perpetuated for centuries, but it is far from the truth.
                    </p>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>How to change your career from Graphic Design to UX Ui Designer?</h2>
                    <img src="assets/img/blogs.png">
                    <p>
                        How to change your career from Graphic Design to UX Ui Designer?
                    </p>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>Creative People Are Not The Pressure Cooker: Understanding The Misconception</h2>
                    <img src="assets/img/blogs.png">
                    <p>
                        The stereotype of the “tortured artist” or the “crazy genius” has been perpetuated for centuries, but it is far from the truth.
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>