


<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="vps">
                <h1>I’m Viral Patel</h1>
                <h4>UX/UI Designer at In-Solutions Global Ltd.</h4>

                <div class="vps1">
                    <a href="https://www.adobe.com/in/products/photoshop.html" target="_blank"><img src="assets/img/adobe-photoshop-logo.svg"></a>
                    <a href="https://www.adobe.com/products/premiere.html" target="_blank"><img src="assets/img/adobe-premiere-pro-logo.svg"></a>
                    <a href="https://www.adobe.com/in/products/aftereffects.html" target="_blank"><img src="assets/img/adobe-after-effects-logo.svg"></a>
                    <a href="https://helpx.adobe.com/support/xd.html" target="_blank"><img src="assets/img/adobe-xd-logo.svg"></a>
                    <a href="https://www.figma.com/" target="_blank"><img src="assets/img/figma-logo.svg"></a>
                </div>

                <p>
                    After having a decade of experience in the creative industry & working with talented creatives in different backgrounds is an endless source of inspiration
                    for me.
                </p>

                <p>I studied a BCA - Bachelor of Computer Applications (2012)</p>

                <p>Always passionate about designing, solving problems & working with like-minded people.</p>

                <p>
                    I love creating high-impact design solutions that make people happy & I've always admired how thoughtful design has the power to change the world.
                </p>

                <p>Thanks for taking the time to check out my site!</p>
                <p>
                    Feel free to reach out whenever you'd like! Let's make something great.</p>
                <p>
                    If you’d like to get in touch, Drop me mail at <a href="mailto: viral16890@outlook.com">viral16890@outlook.com</a>
                </p>

                <ul>
                    <li>
                        <a href="https://www.behance.net/viralpatel16890" target="_blank"><img src="assets/img/behance.svg"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/viralpatel16890" target="_blank"><img src="assets/img/twitter.svg"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/viralpatel16890/" target="_blank"><img src="assets/img/linkedin.svg"></a>
                    </li>
                </ul>
                <button mat-button><img src="assets/img/download.svg"></button>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="vps2">
                <img src="assets/img/viral-patel-studio-background-square-low-reso-final.png">
            </div>
        </div>
    </div>
</div>
