


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="about_page">
                <h1>Design Mentor</h1>

                <ul>
                    <li>After having a decade of experience in the creative industry. Viral is so passionate to help others who are beginners, interns & have started their careers recently.</li>

                    <li>As a Mentor, He offers you a perspective for your creative ideas & career.</li>

                    <li>He helps the designers, enhances their creativity & provides guidance for the career-related queries.</li>

                    <li>From his then-unprecedented skills, creative techniques & expertise in design culture, Viral remains a cutting edge mentor & never lacks to generate Ideas for guidance.</li>

                    <li>He helps you align your actions in the right direction with the necessarily needed approach.</li>

                    <li>Here to help you with online strategies like designs, websites, SEO & paid campaigns, etc. to sell a product creatively and with ease.</li>

                    <li>He shares information about his own career path, as well as provides guidance, motivation, emotional support, & role modelling as well.</li>

                    <li>He also helps with exploring careers, setting goals, developing contacts, & identifying resources.</li>

                    <li>He helps in articulating the best Ideas & quickly broadens their network & also elevates the level of professionalism.</li>

                    <li>With his help & guidance, one can learn faster, make fewer mistakes & gain benefits from the experiences he shares.</li>

                    <li>Furthermore, he also encourages people who have the same level of passion & love for the designs.</li>

                    <li>He believes, Anyone can teach you software & tools, But a mentor is someone who helps you to generate IDEAS for your designs.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
